In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "guido", password = "123456", db="little-lemon")

In [3]:
cursor = connection.cursor()
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [4]:
results = cursor.fetchall()

In [5]:
for table in results:
    print(table)

('Bookings',)
('Customers',)
('MenuItems',)
('Menus',)
('Orders',)
('ordersview',)
('Staff',)

In [6]:
final_query = """SELECT Customers.FullName, Customers.ContactNumber, Customers.Email, Orders.TotalCost
FROM Orders INNER JOIN Customers
ON Orders.CustomerID = Customers.CustomerID
WHERE Orders.TotalCost > 60;"""
cursor.execute(final_query)

In [7]:
results = cursor.fetchall()

In [8]:
for result in results:
    print(result)

('You', '123-456-7890', 'test@test.com', Decimal('150'))
('Me', '098-765-1234', 'hello@hello.com', Decimal('400'))